# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node / React =====
frontend/node_modules/
frontend/build/
frontend/.env

# ===== Java / Spring Boot =====
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== Logs =====
*.log
